{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verifikasi Data</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Verifikasi Data</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Admin</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">User</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
                {% if user.is_authenticated %}
                <div class="d-flex">
                    <a class="btn btn-outline-danger" href="{% url 'logout' %}">Logout</a>
                </div>
                {% else %} 
                <div class="d-flex me-md-3">
                    <a class="btn btn-outline-primary" href="{% url 'login' %}">Login</a>
                </div>
                {% endif %}
                </div>
            </div>
            </nav>
        </header>
    </div>
<center>
    {% include 'judul.html' %}
</center>
<div class="container">
{% block content %}
{% endblock %}
</div>

<script src="{% static 'js/bootstrap.js'%}"></script>

</body>
</html>