{% extends 'base.html' %}


{% block content %}

{% if user.is_authenticated %}
<meta http-equiv="refresh" content="0; url={% url 'home' %}">
{% else %}
        <div class="container mt-4">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            LOGIN.
                        </div>
                        <div class="card-body">
                            <form method="POST">
                                {% csrf_token %}
                                {{form.as_p}}
                                <button class="btn btn-primary">masuk</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{%endif%}

{% endblock %}