{% include 'base.html' %}

{% block content %}

<div class="container p-4">
    <h3>
        <a href="{% url 'tambah-data' %}">Tambah Data</a>
        {{user}}
    </h3>
    <div class="row">
   
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th scope="col">NAMA</th>
          <th scope="col">NIK</th>
          <th scope="col">TANGGAL SUBMIT</th>
        </tr>
      </thead>
      <tbody>
        {% for data in data %} 
        <tr>
          <td>{{data.nama}}</td>
          <td>{{data.nik}}</td>
          <td>{{data.tglsubmit}}</td>
        </tr>
        {% endfor %}
      </tbody>
</div>
</div>

{% endblock %}