{% include 'base.html' %} 

{% block content %}

<div class="container p-4">
    {% for message in messages %}
    {% if message %}
        <div class="alert alert-success">{{ message }}</div>
    {% endif %}
    {% endfor %}
    <form action="/tambah-data/" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button class="btn btn-primary">Simpan</button>
        <a href="#" class="btn btn-danger">Kembali</a>
    </form>
</div>

{% endblock %}